
.body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px 10px;
    text-align: left;
}
.hero {
    background-color: #f8f9fa;
    padding: 50px 20px;
    text-align: center;
}

.services {
    padding: 30px 20px;
}

.contact {
    background-color: #f1f1f1; 
    padding: 30px 20px;
    min-height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#map {
    height: 400px; 
    width: 100%;
}

#map iframe {
    height: 100%; 
    width: 100%; 
    border: 0; 
}

.about {
    padding: 60px 20px; 
    text-align: center; 
}

.about-image-container {
    background-image: url('images/equip.png');
    background-repeat: repeat-x; 
    background-size: contain; 
    background-position: top left; 
    height: 300px; 
    width: 100%;
    padding: 20px 10px;
    background-position: 0 0, 200px 0;
}

.container text-center{
    padding-top: 30px;
}

.company-description {
    font-size: 18px;
    line-height: 1.6;
    color: #333; 
    padding: 20px 0;
}

.service-image {
    width: 100px; 
    height: auto; 
    margin-bottom: 10px;
}

#services{
    background-color: #f8f9fa;
    padding: 40px 0; 
}

#navbar {
    background-color: lightgray; /* Фон */
    padding: 10px 15px;
}

.nav-link {
    color: black;
    padding: 0 10px;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}

.service-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.service-image {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}
#service-heating_image-container{
    width: 400px;
    height: auto;
}

#lang-switcher {
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}
